header {
  @apply container backdrop-blur-lg px-10 py-4 w-screen bg-transparent;
}

.menu {
  &-active {
    @apply bg-accent text-accent-foreground rounded-xl shadow-xl;
  }

  &-item {
    @apply capitalize;
  }
}
